In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
pd.Series([True, True]).all()

True

In [4]:
pd.Series([True, False]).all()

False

In [5]:
pd.Series([], dtype="float64").all()

True

In [6]:
pd.Series([np.nan]).all()

True

In [7]:
pd.Series([np.nan]).all(skipna=False)

True

In [8]:
df = pd.DataFrame({'col1': [True, True], 'col2': [True, False]})

In [9]:
df

   col1   col2
0  True   True
1  True  False

In [10]:
df.all()

col1     True
col2    False
dtype: bool

In [11]:
df.all(axis='columns')

0     True
1    False
dtype: bool

In [12]:
df.all(axis=None)

False